ib-insync>=0.9.66
pandas>=1.2.3
pendulum>=2.1.2
prompt-toolkit>=3.0.29
loguru>=0.6.0
questionary>=1.9.0
tableprint>=0.9.1
seaborn>=0.11.1
python-prctl
# pygame
prettyprinter>=0.18.0
setproctitle>=1.2.2
diskcache>=5.2.1
beautifulsoup4>=4.9.3
git+https://github.com/mattsta/tradeapis.git@2.0.7
PyYAML>=6.0
data-science-types>=0.2.23
mypy>=0.971
oyaml
